@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.rc-pagination-item.rc-pagination-item-active {
  border-color: #000000 !important;
}

.rc-pagination-item a {
  color: #494949 !important;
}

#tawk-bubble-container,
.tawk-bubble-container {
  display: none;
}